<div ngClass="body-escena container-fluid p-4" [ngStyle]="{'background-image': bg_img }">
    <div ngClass="row-fluid">
        <button (click)="prev()">ANTERIOR</button>
        <button (click)="next()">SIGUIENTE</button>
        
    </div>
    
    <div *ngFor="let element of frases; let i=index;">
        <div *ngIf="this.contador == i;">
            <p id="{{i}}" [ngClass]="{'active':'active'}">
                {{element.frase}}
            </p>
        </div>
        <div *ngIf="this.contador != i;">
            <p id="{{i}}" ngClass="">{{element.frase}}</p>
        </div>
        
    </div>
    
</div>
