
div {
    text-align: center;
    height: 100%;
}

button {
    margin: 1.5rem;
    padding: 1.5rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-radius: 40px;
    transition: 0.5s;
    border: 1px solid black;
   
}

button:hover {
    background-color: black;
    color: white;
}

p.active {
    background-color: rgb(243, 4, 116);
    border-color:rgb(123, 62, 90);
    color: white;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2rem;
    border: solid 1px black;
    border-radius: 40px;
    background-color: rgba(243, 239, 241, 0.642);
}


.body-escena {
    background-repeat: no-repeat;
    background-size: cover;
}